/* 透明度修改 */

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
    background: rgba(255, 255, 255, 0.9);
}
  
/* 首页侧栏卡片 */
#aside-content .card-widget {
    background: rgba(255, 255, 255, 0.9);
}

/* 文章页面正文背景 */
div#post {
    background: rgba(255, 255, 255, 0.9);
}

/* 分页页面 */
div#page {
    background: rgba(255, 255, 255, 0.9);
}

/* 归档页面 */
div#archive {
    background: rgba(255, 255, 255, 0.9);
}

/* 标签页面 */
div#tag {
    background: rgba(255, 255, 255, 0.9);
}

/* 分类页面 */
div#category {
    background: rgba(255, 255, 255, 0.9);
}

/* 夜间模式伪类遮罩层透明 */
[data-theme="dark"] #recent-posts > .recent-post-item {
    background: rgba(25, 25, 25, 0.88);
}

[data-theme="dark"] #aside-content .card-widget {
    background: rgba(25, 25, 25, 0.88);
}

[data-theme="dark"] div#post {
    background: rgba(25, 25, 25, 0.88) !important;
}

[data-theme="dark"] div#tag {
    background: rgba(25, 25, 25, 0.88) !important;
}

[data-theme="dark"] div#archive {
    background: rgba(25, 25, 25, 0.88) !important;
}

[data-theme="dark"] div#page {
    background: rgba(25, 25, 25, 0.88) !important;
}

[data-theme="dark"] div#category {
    background: rgba(25, 25, 25, 0.88) !important;
}

[data-theme="dark"] div#category {
    background: transparent !important;
}

/* 一图流 */
/* 页脚透明 */
/* #footer {
    background: transparent !important;
} */
  
/* 头图透明 */
/* #page-header {
    background: transparent !important;
}
  
#rightside > div > button {
    border-radius: 5px;
} */
  
/* 滚动条 */
  
/* ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #3b70fc;
    border-radius: 2em;
}
  
::-webkit-scrollbar-corner {
    background-color: transparent;
}
  
::-moz-selection {
    color: #fff;
    background-color: #3b70fc;
}  */

/* 音乐播放器 */

/* .aplayer .aplayer-lrc {
  display: none !important;
} */

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    transition: all 0.3s;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}
  
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    transition: all 0.3s;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}
  
.aplayer.aplayer-fixed {
    z-index: 999999 !important;
}
  
/* 评论框  */
.vwrap {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 30px 0px;
}
  
/* 设置评论框 */
  
.vcard {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 0px 0px;
}


/* 加载动画，修改图片 */
.loading-img {
    background: url(/img/QQ图片20211211145634.jpg) no-repeat center center;
    background-size: cover;
  }


/* valine评论系统的背景 */
#veditor {
	background-image: url(https://github.com/nannanchan/nannanchan.github.io/blob/main/img/sticker.webp?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgba(255, 255, 255, 0);
	resize: vertical
}


/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content > .card-widget.card-info {
    background-image: url(https://github.com/nannanchan/nannanchan.github.io/blob/main/img/76315148_p0.png?raw=true);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }
[data-theme="dark"] #aside-content > .card-widget.card-info {
    background-image: url(https://github.com/nannanchan/nannanchan.github.io/blob/main/img/76315148_p0.png?raw=true);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
    background-blend-mode: darken;
  }


/* 信息卡片头像状态 */
.card-info-avatar .author-status-box {
  position: absolute;
  bottom: 0;
  left: calc(100% - 28px);
  width: 28px;
  height: 28px;
  border: 1px solid #d0d7de;
  border-radius: 2em;
  background-color: #f8f8f8f8;
  transition: 0.4s;
  overflow: hidden;
}

[data-theme="dark"] .card-info-avatar .author-status-box {
  background-color: #222222f2;
  border: 1px solid #5c6060;
}

.card-info-avatar .author-status-box .author-status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding: 0 5px;
}

.card-info-avatar .author-status-box:hover {
  width: 105px;
}

.card-info-avatar .author-status-box:hover .author-status span {
  width: 105px;
  margin-left: 4px;
}

.card-info-avatar .author-status-box .author-status span {
  width: 0;
  font-size: 12px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.4s;
}

.card-widget .card-info-avatar {
  display: inline-block;
  position: relative;
}


/* Chatgpt提供的图片方案 */
.gallery-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center; /* 图片居中 */
}

.gallery-group a {
    width: 48%; /* 每行显示两个图片 */
    margin-bottom: 10px;
}

.gallery-group img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}
